@model CreateOrderAddressDto

@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/UILayout/_UILayout.cshtml";
}

<div class="container-fluid">
    <div class="row px-xl-5">
        <form method="post">
            <div class="row">
                <div class="col-lg-8">
                    <h5 class="section-title position-relative text-uppercase mb-3">
                        <span class="bg-secondary pr-3">Sipariş Teslimat ve Fatura Adresi</span>
                    </h5>
                    <div class="bg-light p-30 mb-5">
                        <div class="row">
                            <div class="col-md-6 form-group">
                                <label for="Name">Adınız</label>
                                <input class="form-control" type="text" id="Name" asp-for="Name" placeholder="adınız" required/>
                            </div>
                            <div class="col-md-6 form-group">
                                <label for="Surname">Soyadınız</label>
                                <input class="form-control" type="text" id="Surname" asp-for="Surname" placeholder="soyadınız" required />
                            </div>
                            <div class="col-md-6 form-group">
                                <label for="Email">E-mail Adresiniz</label>
                                <input class="form-control" type="email" id="Email" asp-for="Email" placeholder="ornek@email.com" required />
                            </div>
                            <div class="col-md-6 form-group">
                                <label for="Phone">Telefon Numaranız</label>
                                <input class="form-control" type="tel" id="Phone" asp-for="Phone" placeholder="+90 123 456 78 90" required />
                            </div>
                            <div class="col-md-6 form-group">
                                <label for="Detail1">Adres Satır 1</label>
                                <input class="form-control" type="text" id="Detail1" asp-for="Detail1" placeholder="Mahalle adresi girin" required />
                            </div>
                            <div class="col-md-6 form-group">
                                <label for="Detail2">Adres Satır 2</label>
                                <input class="form-control" type="text" id="Detail2" asp-for="Detail2" placeholder="Sokak adresi girin" required />
                            </div>
                            <div class="col-md-6 form-group">
                                <label for="Country">Ülke</label>
                                <input class="form-control" type="text" id="Country" asp-for="Country" placeholder="Türkiye" required />
                            </div>
                            <div class="col-md-6 form-group">
                                <label for="City">Şehir</label>
                                <input class="form-control" type="text" id="City" asp-for="City" placeholder="Yaşadığınız şehir" required />
                            </div>
                            <div class="col-md-6 form-group">
                                <label for="District">İlçe</label>
                                <input class="form-control" type="text" id="District" asp-for="District" placeholder="Yaşadığınız İlçe" required />
                            </div>
                            <div class="col-md-6 form-group">
                                <label for="ZipCode">Posta Kodu</label>
                                <input class="form-control" type="text" id="ZipCode" asp-for="ZipCode" placeholder="Posta kodunuzu girin" required />
                            </div>
                            <div class="col-md-6 form-group">
                                <label for="Description">Adres Açıklama</label>
                                <textarea class="form-control" id="Description" asp-for="Description" placeholder="Adresinizi kısaca açıklayın" rows="4" style="resize: none;" required></textarea>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="col-lg-4 d-flex flex-column justify-content-end">
                    <div class="mt-auto">
                        @await Component.InvokeAsync("_OrderSummaryComponentPartial")
                        @await Component.InvokeAsync("_PaymentMethodComponentPartial")
                    </div>
                </div>
            </div>
        </form>
    </div>
</div>