<div class="container-fluid">
    <div class="row px-xl-5">
        <div class="col-12">
            <nav class="breadcrumb bg-light mb-30">
                <span class="breadcrumb-item text-dark no-underline">@ViewBag.directory1</span>
                <span class="breadcrumb-item text-dark no-underline">@ViewBag.directory2</span>
                <span class="breadcrumb-item text-dark no-underline">@ViewBag.directory3</span>
            </nav>
        </div>
    </div>
</div>